.main__conteiner {
    display: flex;
    flex-direction: row;
    
}
.shop-card {
    width: 265px;
    height: 525px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 2px 16px #0000003d;
    gap: 10px;
}
.shop-card__img {
    /* background: url(../img/iphone11.jpg); */
    display: block;
    width: 261px;
    height: 350px;
    overflow: hidden;
}
.shop-card__img--disabled{
    opacity: .35;
}
.sh-c__r--r--img{
    height: 12px;
    width: 16px;
}
.left__label{
    position: absolute;
    text-align: center;
    font-size: 12px;
    font-weight: 800;
    color: white;
    background-color: orange;
    width: 98px;
    height: 15px;
    border-radius: 10%;
}

a {
    text-decoration: none;
    cursor: pointer;
}
.shop-card__title {
    margin-left: 10px;
}

.shop-card__color{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    margin-left: 10px;
    gap: 5px;
}

.dot {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    box-sizing: border-box;
    
}

.dot:hover {
    border:1px solid transparent;
    transition: all 2.5s ease-in-out;
}

.redot {
    background-color: red;
}

.grdot {
    background-color: grey;
}

.bldot {
    background-color: blue;
}

.gredot {
    background-color: green;
}

.blckdot {
    background-color: black;
}
.pnkdot {
    background-color: pink;
}

.shop-card__title{
    font-size: 14px;
}

.shop-card__rating {
    margin-left: 10px;
    display: flex;
    align-items: center ;
    
}

.shop-card__rating span {
    padding: 0;
	font-size: 18px;
	line-height: 1px;
	color: grey;
}

.shop-card__rating > span:before {
	content: '★';}

.shop-card__rating > span.active {
	color: gold;
    content: '★';
}

.shop-card__rating--reviews{
    font-size: 12px;
    color:grey;
}

.shop-card__price{
    display: flex;
    padding: 0 15px 0 0;
    justify-content: space-between;

 }
.shop-card__price__box--value{
    margin-left: 10px;
    font-size: 20px;
}

.shop-card__price__box--currency{
    font-size: 16px;
    margin-left: -2px;
}

.shop-card__cart--ico{
    width: 24px;
    height: 24px;
}

.shop-card__ready{
    margin-top: 5px;
    display: flex;
}

.ready {
    font-size: 12px;
    margin-left: 10px;
}

.delivery{
    margin-left: 10px;
}